parameters:
  level: 8
  paths:
    - feed
    - game
    - wwwroot
  excludePaths:
    - BattleEngine/*
    - download/*
    - wiki/*
    - game/css/*
    - game/js/*
    - game/img/*
    - game/loca/*
    - game/temp/*
    - wwwroot/evolution/*
    - wwwroot/css/*
    - wwwroot/js/*
    - wwwroot/img/*
    - game/core/bbcode.php
  ignoreErrors:
    - identifier: missingType.iterableValue
  reportUnmatchedIgnoredErrors: false