/*
                                ? \!/ ?
                                 (o o)
------------------------------OOo-(u)-oOOo--------------------------


               <<<<<<<<<<  De-FORMATE.CSS 1.2b  >>>>>>>>>>
                           
                            --Skin by Danix--

@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@
<<<<<<Edicion: Lunar-End 1.0>>>>>>>
@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@#@

                                                                            
                                      ```                                    
   `¨`````                           `#R``                                   
  ¨_"!;"_````                       `_d)``                                   
  `¨_T/)$)'!`````                   `#d'``                                   
   `¨_i*)R4$*_'````                ``d0¨`                                    
   ``¨_!i)4$3(+__¨`````````        `1%0¨`                                    
     `¨"!T3$$$4$/T)¨¨``"*1_```     `#%#¨`                                    
      `¨';i)(4444R/Ti'¨¨¨T))i``````;d%/`                                     
       `¨';ii/344RRR3Ti'¨¨i1)+1¨¨¨¨0%0'`                                     
        `¨'!ii/3R44R6R$T;'¨i)(+1T'"%%0'`                                     
         `¨'!;i/(RR4RRR44T;_i+()/*h%@#'`                                     
           ¨''iiT$R44RR44$$/!!*i;+%@@d¨`                                     
            `¨";ii/$$$3333)+/*!"4@@%@)'¨`                                    
             `¨';;i13(($333)+i;__@¾¾@d"¨`                                    
              `¨¨_;;1/1)3)4((3)i`@¾¾¾%dd4'`                                  
               `¨"'T/)+/+44$))/**;_i4@@@%0_¨                       ```       
                `'__¨;1TT/!;//TT*/+1+40@@@0T'¨¨``            ```¨¨'` ¨¨`     
                `'""¨¨'_T;_;iiiii*+3$Rhd@¾@%1!!_'¨`       ``¨'¨ ` ``"'¨      
               `¨'¨```"__"!Tiii*1/)$R#h#¾¾¾¾@@#$/""¨¨¨¨¨¨¨`  ```'""'¨`       
               `'````¨"_;;!";iT/)$44R#66$+/%@@@%01!__   ````¨""''¨`          
               ¨¨¨¨''_!_";i!_!!**)(4/##R$R4#h@@%d0```````!_"'¨``             
               ¨;!_!;;Tii;"'"i!"¨';/$6#R4R#0%@@@@¨```!(*i!"¨`                
               ¨!di;____'¨¨```!/4/;dhd0hh#0%@@@¾¾¾@%@@%R31!_'¨`              
               `_d@!!"¨`` `"+(%@@3i%@@@%%d%%@@¾¾¾¾@@@¾¾%R$)/i"¨`             
               `'6%@@¨   `*h@¾¾¾¾%4@@¾¾@@@@@@%%@¾¾¾¾@¾%d¾R4$)/_'¨            
                `)h%`  ``d0@¾¾¾¾@0%@@¾¾¾@@@@@%%@%¾¾¾@@@@%**(44);"`           
                `_R`   `%i@¾¾¾¾¾%@@@¾¾¾¾@¾@@@@¾%0d@¾¾¾¾¾¾@dii*3+i'`          
                `'`   ``$h¾¾¾¾¾@@¾@@¾¾¾¾¾¾¾¾¾¾@@%dd¾¾¾¾¾¾¾¾@di;!_¨`          
               ¨¨   ` `'$¾¾¾¾@@@¾@@@¾¾¾¾¾¾¾¾¾¾@%hh0d¾¾¾¾@¾¾¾¾@#!¨`           
             `¨" ````'!)%¾¾¾@¾@@@@@¾¾¾¾¾¾¾¾¾¾¾¾%@d0d%@¾¾¾d¾¾¾¾@03'`          
            `'_  ``¨';3d¾¾¾¾@@@@@@¾¾¾¾¾¾¾¾@@@@%@@@@dd0@¾¾¾d%¾¾¾¾%4!¨`        
           `'_    ¨!/Rd@¾¾¾@@@@@¾¾¾¾¾¾¾¾¾¾@@h!""_*d@@@d%¾¾@d%¾¾¾¾@d3"¨`      
          `¨!"   ¨;40@@¾¾¾@@@@@¾¾¾¾¾¾¾¾¾@@di'`  `¨'!id%@@¾d00d@¾¾¾@@0;'`     
          `"!   `*#%@¾¾¾¾@@@@$i40##66$)*43'¨`      `¨'_i6%@@%dd%¾¾¾¾¾@+"`    
          ¨_i  `1d@¾¾¾¾@@@%#;_"''¨¨¨¨```¨`            `¨'_;#%@@@%¾¾¾¾¾@1_¨   
         `';T``(@¾¾¾¾@@@0T"'¨`                           ``¨"!Rd@@¾¾¾¾¾@hi`  
         ¨!i*'3@@@@@%%$;"¨                                   `¨"!/d@¾¾¾¾@6!` 
       `"!**Th#4(+i__"'¨`                                       `¨'!Td@¾¾d3¨ 
     `'!i1*!#i"¨`````                                             ``'_iT%03¨ 
    `'iT11h/!"`                                                      `¨'__'` 
    ¨;*116*!'`                                                           `   
    '!1**i_¨                                                                 
    `'_;!"`                                                                  
      ```                                     
                                                                   

Este Archivo es de libre distribucion. Es una hoja de estilo en cascada
(CSS) que contiene lo necesario, ademas de muchos extras, para visualizar
el juego "oGame" a traves de navegador (aconsejable FIREFOX 1.5.x)

Si aun no lo utilizas, puedes descargarlo de aqui:

-------- http://www.mozilla-europe.org/es/products/firefox/ --------


CONTENIDO DEL FORMATE.CSS
*/

., #, td, th, textarea, body, table
{
  font-family	: Tahoma,sans-serif;
  font-size	: 11px;
  color         : #AAAAFF;
}

img
{
  border               : 0px;
}

p table
{
  border               : 0px;
}

p td
{
  text-align           : center;
  font-size            : 11px;
  font-family          : Tahoma,sans-serif;
  color                : #AAAAFF;
}


/*----------------------------------------------------------------*/
/*           COLOR DE LOS RECURSOS EN PARTE SUPERIOR              */
/*----------------------------------------------------------------*/


table table td
{
  font-size            : 12px;
  font-weight          : bold;
  font-family          : Arial,Tahoma,sans-serif;
  color                : #FFFFFF;

}


/*----------------------------------------------------------------*/
/*                             GENERAL                            */
/*----------------------------------------------------------------*/
body
{
  overflow             : auto!important;
  text-align           : center;
  font-weight          : bold;
  color                : #BFBFBF;
  margin-top           : 1px;
  margin-left          : 1px;
  background-color     : #000000;
  background-image     : url(img/background.jpg);
  background-attachment: fixed;
  background-repeat    : no-repeat;
  background-position  : top left;
  SCROLLBAR-BASE-COLOR      : #BFBFBF;
  SCROLLBAR-ARROW-COLOR     : #BFBFBF;
  scrollbar-track-color     : #1F1F1F;
  scrollbar-face-color      : #000000;
  scrollbar-highlight-color : #BFBFBF;
  scrollbar-3dlight-color   : #BFBFBF;
  scrollbar-darkshadow-color: #000000;
  scrollbar-shadow-color    : #000000;
  font-size            : 11px;
  font-family          : Tahoma,sans-serif;
}
div#content
{
overflow : visible;
scrollbars : none;
left : 170px;
width : 85%;
height : auto;
}  

/*----------------------------------------------------------------*/
/*                          MENU/GENERAL                          */
/*----------------------------------------------------------------*/



body.style
      {
        filter: Alpha(Opacity=80);
	-moz-opacity: 0.8;
        font-weight          : bold;
	      color                : #000000;
        margin-top           : 1px;
        margin-left          : 1px;
        background-color     : #000000;
        background-image     : transparent;
      	background-position  : top right;
        background-repeat    : no-repeat;
        font-family          : Tahoma, sans-serif;
        font-size            : 9px; 
        text-align           : left;
      }

body form table th table input
{
  width: 60px;
  color: #FFFFFF;
}


th, td.a, td.b, td.f, input,
td.g, td.h, td.i, td.j, td.k, td.l, td.m,
td.n, td.o, td.q, td.r, td.v,
textarea, p td, table.s th img
{






/*-----------------------------------------*/
/*          boder: BORDE RECUADROS         */
/*-----------------------------------------*/

  border               : 1px #555555 solid;
  font-size            : 11px;
  font-family          : Tahoma,sans-serif;
  color                : #FFFFFF;
}

td.c
{

/*-----------------------------------------*/
/*     boder: BORDE RECUADROS MENU IZQ     */
/*-----------------------------------------*/

  border               : 1px #555555 solid;
  font-size            : 14px;
  font-family          : Arial,sans-serif;
  color                : #FFFFFF;
}

.style td
{
border   : 0px;
}

/*Offiziersbilder in der Rohstoffanzeige*/
div#header_top table tr table tr td a img
{
  line-height          : 0px;
  height               : 20px;
  width                : 20px;
  border               : 0px #999999 ridge;
}

/*Tooltipp no menu das frotas*/
/*neues Tooltipp*/
div#WzTtDiV div#WzBoDy,div#WzTtDiV , div#WzTtDiV div#WzBoDy table tbody tr td#WzBoDyI
{
  overflow             : visible !important;
  padding              : 2px !important;
  border               : 1px !important;
  background-color     : transparent !important;
}

div#WzTtDiV div#WzBoDy table
{
  background-color     : #000000 !important;
}

div#WzTtDiV div#WzBoDy table tbody tr td#WzBoDyI
{
  padding              : 4px !important;
  border               : 1px #996633 ridge !important;
}

div#WzTtDiV div#WzBoDy table tbody tr td#WzBoDyI font[color=white]
{
  font-size            : 10px;
  font-family: Arial,Tahoma;
  font-weight: bold;
  color                : #999999;
}

div#WzTtDiV div#WzBoDy table tbody tr td#WzBoDyI font[color=white] b
{
  font-weight          : normal;
  font-family: Arial,Tahoma;
  font-weight: bold;
}

div#WzTtDiV div#WzBoDy table tbody tr td#WzBoDyI tr th
{
  letter-spacing       : 0px;
  padding-left         : 3px;
  padding-right        : 1px;
  border               : 1px #282416 ridge;
}


/*----------------------------------------------------------------*/
/*                  CUERPO DE LOS CAMPOS GENERAL                  */
/*----------------------------------------------------------------*/

th, td.a, td.b, td.c, td.f, input, td.g,
td.h, td.i, td.j, td.k, td.m, td.o, td.q, td.r,
td.v, td.s, .style td, p td
{
  background-color     : transparent;
  background-image     : url(img/gen2big.png);
  color                : #CCCCCC; /* >>>>>Color de la letra */
}

/*----------------------------------------------------------------*/
/*                        TEXTO GENERAL                           */
/*----------------------------------------------------------------*/

th
{
  text-align           : center;
  padding-left         : 3px;
  padding-right        : 3px;
  background-repeat    : repeat-x;
}

td.a
{
  height               : 39px;
  text-align           : center;
}


td.b
{

  padding              : 3px;
}

/*----------------------------------------------------------------*/
/*                           TITULOS                              */
/*----------------------------------------------------------------*/

td.c
{
  border: #454545 0px solid;
  font-weight          : bold;
  color                : #DDDDDD;
  padding-left         : 3px;
  background-image     : url(img/titulos2.png);
  background-color     : #transparent;
}

/*----------------------------------------------------------------*/
/*                  CELDAS INTRODUCCION DATOS                     */
/*----------------------------------------------------------------*/

td.f, input, select, textarea
{
  color                : #000033;
  background-color     : #333333;
}

textarea
{
  width                : 100%;
}

td.k input
{
  text-align           : left;
}

td.g
{
  font-weight          : bold;
  text-align           : right;
  color                : #000000;
}

td.h
{
  text-align           : center;
  color                : #000000;
}

td.i
{
  text-align           : center;
  color                : #000000;
}

td.j
{
  text-align           : center;
  color                : #000000;
}

/*-------------------------------------------------------------------------------------*/
/*                     a: INFORMACION VARIABLE (CONST. E INVESTIGACION)                */
/*                                                                                     */
/* <ampliar nvl. construccion, investigar, ingresos totales en recursos, cuenta atras> */
/*-------------------------------------------------------------------------------------*/

td.k
{
  font-family          : Arial,sans-serif;
  text-align           : center;
  color                : #FFFFFF;
  background-image     : url(img/color1.png);
  background-color     : transparent;
}


td input
{
  background   	       : transparent;
  color                : #FFFFFF;
  border               : 1px #000000 solid;
  vertical-align       : top;
  padding              : 3px;
  
}

/*-------------------------------------------------------------------------------------*/
/*                     b: CUERPO CELDAS (CONST. e INVESTIGACION)                       */
/*                                                                                     */
/*          <textos construccion e investigacion, ingresos, tecnologias...>            */
/*-------------------------------------------------------------------------------------*/

td.l, td.l input
{
  background   	       : 300035;
  color                : #CDCDCD; /* Letras de estas celdas */
  vertical-align       : top;
  padding              : 2px;
  background-image     : url(img/gen1b.png);    
  background-position  : 100% 20%;
}




td.m
{
  font-weight          : bold;
  text-align           : right;
  width                : 86px;
  color                : #000000;
}

td.n
{
  font-weight          : bold;
  text-align           : right;
  width                : 89px;
  text-align           : center;
  color                : #FFFFFF;
}

td.o
{
  text-align           : center;
  color                : #000000;
}

td.q
{
  font-weight          : bold;
  font-size            : 11px;
  font-family          : Tahoma,sans-serif;
  text-align           : center;
  vertical-align       : middle;
  color                : #000000;
  }

td.r
{
  text-align           : right;
  color                : #000000;
}

td.v
{
  font-weight          : bold;
  text-align           : right;
  color                : #f7f7f7;
}

td.s
{
  color                : #000000;
}

div.z
{
  font-weight          : bold;
  color                : #FFFFFF;
}

/*----------------------------------------------------------------*/
/*                  ENLACES SIN SEÑALAR (normal)                  */
/*----------------------------------------------------------------*/

a 
{
  color                : #AAAAEE;
  text-decoration      : none;
  font-weight          : bold;
}

a.s
{
  color                : #000000;
}

a.t
{
  color                : #000000;
}

/*----------------------------------------------------------------*/
/*              ENLACES SEÑALADOS (con cursor encima)             */
/*----------------------------------------------------------------*/

a:hover
{
  color                : #FFFF00;
  text-decoration      : blink;
  font-weight          : bold;
  cursor               : pointer;
}

/*----------------------------------------------------------------*/
/*                   CUERPO DEL MENU IzQUIERDO                    */
/*-------------------------------------------------------------*/
#menu
{
  filter: Alpha(Opacity=150);
	-moz-opacity: 0.9;
  background-image     : none;
  width                : 170px;
  height               :	660px;
  position             : fixed !important;
}

/*Universum*/
#menu p
{
 	
  background-image     : none;
  background-repeat    : no-repeat;
  color                : #ffff00;
  display              : block;
  height               : 30px;
  width                : 160px !important;
  left                 : 0px;
  top                  : 1px;
  position             : absolute;
  vertical-align       : middle;
  text-align           : center;
  padding-top          : 6px;
  font-size            : 10px;
  font-family          :Arial,Tahoma;
  font-weight          :bold;
}

#menu p a, #menu p a:link, #menu p a:visited
{
  font-size            : 10px;
  font-weight          : normal;
  color                : #ffffff;
}

#menu p a:hover
{
  text-decoration      : none;
  font-size            : 10px;
  font-weight          : normal;
  color                : #925300;
}


/*Tabelle des menüs*/
#menu table
{
  left                 : 36px;
  top                  : 40px;
  position             : absolute;
  background-color     : none;
  border               : 1px #666666 solid;
  text-align           : center;
}


/*Bilder des Menüs*/
#menu table tr td img
{
  border               : 0px #000000 dashed;
  width                : 109px;
  height               :	30px;
}

#menu td, #menu td div, #menu td font, #menu td center,  #menu td center font
{
  letter-spacing       : 0px;
  vertical-align       : top;
  background-color     : transparent;
  background-image     : none;
  color                : #ffff00;
  border               : 0px #3F3F3F solid;
  font-size            : 10px;
  font-family: Arial,Tahoma;
  font-weight: bold;
  background-repeat    : no-repeat;
  background-position  : center;
  text-align           : center;
}

#menu td, #menu td center
{
  font-size            : 0px;
  height               : 0px;
}

#menu td div
{
  height               : 13px;
}

#menu td
{
  padding-left         : 5px;
}

#menu td.c
{
  font-weight          : normal;
  border               : 1px #786C44 solid;
  color                : #786C44;
  padding-left         : 3px;
  background-color     : #000000;
  background-image     : none;
  text-align           : center;
}


#menu table,
table td,
table
{
background-color : transparent !important;
border: 0px #999999 solid;
}
#menu {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	font-size: 11px;
	
	}


#menu div[align="center"] {
	color: #FFFFFF;
	font-size: 11px;
	text-align: center;
}

#menu div[align="center"] font a {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 11px;
}

#menu div[align="center"] font a font {
	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
	color: #ffffff;
	font-size: 11px;
}

#menu div[align="center"] font a:hover {
	text-decoration: underline overline;
	font-size: 11px;
	color: #ffff00;
}

#menu div[align="center"] font a font:hover {
	text-decoration: underline overline;
	font-size: 11px;
	color: #FFFFFF;
}

	
/*----------------------------------------------------------------*/
/*                   TEXTO DEL MENU IZQUIERDO                     */
/*----------------------------------------------------------------*/

.style div a
{
  height               : 100%;
  width                : 100%;
  color                : #000000;
  font-size            : 9px;
  font-family          : Arial,sans-serif;
  text-align           : left;
}

.style div a:link
{
  height               : 100%;
  width                : 100%;
  font-family          : Tahoma,sans-serif;
  text-align           : left;
}

.style div a:visited
{
  height               : 100%;
  width                : 100%;
  font-family          : Tahoma,sans-serif;
  text-align           : left;
}

/*-----------------------------------------*/
/*            ENLACES SEÑALADOS            */
/*-----------------------------------------*/

.style div a:hover
{
  background-color     : transparent;
  height               : 100%;
  width                : 100%;
  text-decoration      : none;
  font-size            : 10px;
  font-family          : Tahoma,sans-serif;
  color                : #000000;
  cursor               : pointer;
}

.style
{
  margin-top           : 15px;
}

h1
{
  font-size            : 11px;
  font-family          : Tahoma,sans-serif;
  border-bottom        : 0px #344566 solid;
  width                : 98%;
  text-align           : right;
}

/*----------------------------------------------------------------*/
/*               TEXTO TITULOS CONST., HANGAR, LAB.               */
/*----------------------------------------------------------------*/

tbody  td  td > a:first-child { 
	font-size  : 11px;
	color      : #AAAAFF; 
}



input { color : #FFFFFF;} 

/*----------------------------------------------------------------*/
/*                 PESTAÑAS / MENUS DESPLEGABLES                   */
/*----------------------------------------------------------------*/

select
{
  border               : 1px #777777 solid;
  font-family          : Arial,sans-serif;
  font-size            : 10px;
  color                : #CCCCCC;
  background           : transparent;
  background-color     : #222222;
}


/*----------------------------------------------------------------*/
/*                 CUERPO DE CELDAS PARA ESCRIBIR                 */
/*----------------------------------------------------------------*/

textarea
{
  border               : 1px #898989 solid;
  font-family          : Tahoma,sans-serif;
  font-weight          : bold;
  color                : #FFFFFF;
  background           : transparent;
  background-image     : url(img/bodymens.png);
}

/*----------------------------------------------------------------*/
/*oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/
/*----------------------------------------------------------------*/
/*                      --- NEWs by Danix ---                     */
/*----------------------------------------------------------------*/
/*oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/
/*----------------------------------------------------------------*/

/* Imagen del planeta pequeña en general */
center table tr td center table tr td img
{
  width     : 60px;
  height    : 60px;
  border    : 0px #444444 solid;
}

/* Borde de las imagenes de const., lab, hangar... */
td.l img
{
border: 1px #A8A8A8 solid;
}

/* Tiempo de produccion*/
tr tr div.z
{
  font-family          : Arial,sans-serif;
  font-size            : 16px;
  color                : #FFFFFF;

  font-weight          : bold;
  text-align           : center;
}

/* Enlace de cancelar */
tr tr div.z a
{
  font-family          : Tahoma,sans-serif;
  font-size            : 12px;
  color                : #999999;

  font-weight          : bold;
  text-transform       : none;
}

/* Enlace de cancelar señalado */
tr tr div.z a:hover
{
  font-family          : Tahoma,sans-serif;
  font-size            : 12px;
  color                : #FF0000;

  font-weight          : bold;
  text-decoration      : underline;
  text-transform       : none;
  text-decoration      : none;
}

/*----------------------------------------------------------------*/
/*oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/
/*----------------------------------------------------------------*/
/*                  --- NEWs by Danix VOL.2 ---                   */
/*----------------------------------------------------------------*/
/*oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
/*oooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo*/
/*----------------------------------------------------------------*/



/*-----------------------------------------*/
/*     Borde recuadro pestaña planetas     */
/*-----------------------------------------*/

table center table
{
border: 1px #444444 solid;
background-image: url(img/gen1b.png);
background-color: transparent;
}



/*-----------------------------------------*/
/*          Borde pestaña planetas         */
/*-----------------------------------------*/

table center table select
{
border: 1px #555555 solid;
}



/*--------------------------------------------------*/
/*  Color de cuenta atras de ida y vuelta de flotas */
/*--------------------------------------------------*/

tr.flight div
{
  font-size            : 16px;
  font-family          : ARIAL,sans-serif;
  color                : #FFFF00;
  text-decoration      : none;
}

/*
tr.return.div
{
  font-size            : 12px;
  font-family          : Arial,sans-serif;
  color                : #797979;
}
*/

/********************/
/* >>>>COLONIAS<<<< */
/********************/


/* ---RECUADRO GENERAL COLONIAS--- */

th.s table
{
border: 0px #330034 solid;
}


/* ---NOMBRE COLONIAS--- */

th.s th  
{
  font-size            : 9px;
  font-family          : Tahoma,sans-serif;
  text-align           : left;
  color                : #999999;
  text-transform       : uppercase;
  letter-spacing       : 0px;
  font-weight          : bold;
  vertical-align       : 100%;
}


/* ---TEXTO CONTRUCCION--- */
th.s center 
{
  text-align           : left;
  color                : #FFFF33;
  font-size            : 9px;
  font-family          : arial,tahoma,sans-serif;
  text-transform       : capitalize;
  letter-spacing       : 0px;
  font-weight          : none;
}


table.s th
{
  border               : 0px;
}


/* ---IMAGEN COLONIAS--- */

table.s th img
{
  width                : 60px;
  height               : 60px;
}



/*oooooooooooooooooooooooooooooooooooooooooooo*/
/*CELDA INTRODUCCION DE Nº DE NAVES PRODUCCION*/
/*oooooooooooooooooooooooooooooooooooooooooooo*/

td.k input
{
color: #FFEE11;
text-align           : center;
background-color     : transparent;
border               : 1px #ABBABA solid;
background-image     : url(img/buton.png);
}

/*@@@@@@@@@@@@@@@@*/
/*ENVIOS DE FLOTAS*/
/*----------------*/

th form input
{
color: #FAFA33;
text-align           : center;
background-color     : transparent;
border               : 1px #444444 solid;
background-image     : url(img/buton2b.png);
margin-top: 3px;
font-family: arial;
font-size: 11px;
font-weight: bold;
text-transform: uppercase;
}

div#distance
{
color: #AAAAFF;
font-family: arial;
font-size: 9px;
}

/*----------------*/
div#duration
{
color: #FFFF11;
letter-spacing: 2px
font-family: arial;
font-size: 13px;
font-weight: bold;
background-color: transparent;
text-align           : center;
border               : 1px #444444 solid;
background-image     : url(img/buton2c.png);
margin-top: 3px;              
margin-bottom: 3px;
}
/*----------------*/
/*----------------*/
div#consumption
{
color: #00FF00;
font-family: arial;
font-size: 13px;
font-weight: bold;
text-decoration: underline
text-align           : center;
background-color     : transparent;
border               : 1px #444444 solid;
background-image     : url(img/buton2c.png);
margin-top: 3px;              
margin-bottom: 3px;
}
/*----------------*/
/*----------------*/
div#maxspeed
{
color: #FFFF23;
font-family: arial;
font-size: 9px;
font-weight: bold;
text-align           : center;
background-color     : transparent;
}
/*----------------*/
/*----------------*/
div#storage
{
color: #4545FF;
font-family: arial;
font-size: 13px;
font-weight: bold;
text-align           : center;
background-color     : transparent;
}
/*----------------*/
/*----------------*/
div#remainingresources
{
color: #FFFF00;
font-family: arial;
font-size: 13px;
font-weight: bold;
padding-left: 0px;
text-align           : center;
background-color     : transparent;
border               : 1px #444444 solid;
background-image     : url(img/buton2c.png);
margin-top: 3px;              
margin-bottom: 3px;
}

/*--- Recuadro parte superior recursos ---*/

table table
{
  padding: 2px;
  border: #444444 1px solid;
  margin-top           : 1px;
  margin-left          : 1px;
  background-color     : transparent;
  background-image     : url(img/tran.png);
}


/*----------------*/
/*ooooooooooooooooooooooooooooooooooooooooooooooo*/
/*-----------------------------------------------*/
/*ooooooooooooooooooooooooooooooooooooooooooooooo*/
/*---------------------FIN-----------------------*/
/*ooooooooooooooooooooooooooooooooooooooooooooooo*/
/*-----------------------------------------------*/
/*ooooooooooooooooooooooooooooooooooooooooooooooo*/

/*
                              !!! \!/ !!!
                                 (o o)
------------------------------OOo-(O)-oOOo---------------------------
---------------------------------------------------------------------
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
---------------------------------------------------------------------

                                <EXTRAS>

*/


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*             COLOR DE LOS RECURSOS 1 (Titulos arriba)           */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/* ---METAL--- */

tr > td + td > i > b > font
{
color:#DDDDDD;
}

/* ---CRISTAL--- */

tr > td + td + td > i > b > font
{
color:#00CCFF;
}

/* ---DEUTERIO--- */

tr > td + td + td + td > i > b > font
{
color:#00FF00;
}

/* ---ENERGIA--- */

tr > td + td + td + td + td > i > b > font
{
color:#FF0000;
}

/* Numero de recursos */

table[width="100%"] tr + tr + tr > td + td[width="85"]
{color:CCCCCC;}
table[width="100%"] tr + tr + tr > td + td + td[width="85"]
{color:#7777CC;}
table[width="100%"] tr + tr + tr > td + td + td + td[width="85"]
{color:#55BB33;}
table[width="100%"] tr + tr + tr > td + td + td + td + td[width="85"]
{color:#FFFFFF;}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*        COLOR RECURSOS 2 (En const., hangar, Lab., etc)         */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/* --Metal-- */

td.l a + br + br + b {
font-size : 12px;
color: #999999;
}

/* --Cristal-- */

td.l a + br + br + b + b {
font-size : 12px;
color: #0099FF;
}

/* --Deuterio-- */

td.l a + br + br + b + b + b {
font-size : 12px;
color: #00CC00;
}

/* --Energia-- */

td.l a + br + br + b + b + b + b {
font-size : 12px;
color: #FFFF00;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*                            INFORMES                            */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/* ---Enlace de los informes de batalla--- */

a span.combatreport 
{
color:#FF0000;
font-size: 10px;
font-family: Tahoma,Arial;
font-weigh: bold;
text-transform: uppercase;
padding-left: 10px;
padding-right: 15px;
}

/* ---Enlace de los informes de batalla al pasar el ratón sobre él--- */

a:hover span.combatreport 
{
color:#EEFF00;
font-size: 10px;
font-family: Tahoma,Arial;
text-decoration: underline;
}

/* ---título de los mensajes de espionaje--- */

a span.espionagereport
{
color:#EEEEEE;
font-size: 10px;
font-family: Tahoma,Arial;
font-weigh: bold;
}

/* ---título de los mensajes de misiles--- */

a span.missilereport
{
color:#5555DD;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}

/* Titulos de los mensajes*/
td.b td.c
{
color: FFFF00;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*                   GALAXIA: color jugadores                     */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.inactive /* 7 dias de inactividad */
{ 
color: #AAAAAA;
font-size: 13px;
font-weigh: bold;
text-transform: uppercase;
font-family: Arial,Tahoma;
}

.longinactive /* 28 dias inactivo */
{ 
color: #666666;
font-size: 13px;
font-weigh: bold;
text-transform: uppercase;
font-family: Arial,Tahoma;
}

.banned /* Baneado */
{
color: #CC3333;
text-decoration: line-through;
font-family: Arial,Tahoma;
}

.vacation /* Vacaciones*/
{ 
color: #D3A529;
}

.allymember /* Alianza*/
{ 
color: #FF0FFF;
font-family: Arial,Tahoma;
}

.noob /* Debil*/
{ 
color: #11FF11;
font-size: 10px;
text-transform: capitalize;
}

.strong /* Fuerte*/
{ 
color: #FF1111;
text-decoration: blink;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*                COLORES PARA MENUS DESPLEGABLES                 */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/


/*-----------------------------------------*/
/*              TIPO DE MISION             */
/*-----------------------------------------*/

select[name="planettype"] option[value="1"]{color:#0099FF}
select[name="planettype"] option[value="2"]{color:#996600}
select[name="planettype"] option[value="3"]{color:#999999}

/*-----------------------------------------*/
/*               VELOCIDADES               */
/*-----------------------------------------*/

select[name="speed"] option[value="10"]{color:#00FF00}
select[name="speed"] option[value="9"]{color:#33FF00}
select[name="speed"] option[value="8"]{color:#66FF00}
select[name="speed"] option[value="7"]{color:#99FF00}
select[name="speed"] option[value="6"]{color:#CCFF00}
select[name="speed"] option[value="5"]{color:#FFFF00}
select[name="speed"] option[value="4"]{color:#FFCC00}
select[name="speed"] option[value="3"]{color:#FF9900}
select[name="speed"] option[value="2"]{color:#FF6600}
select[name="speed"] option[value="1"]{color:#FF3300}
select[name="speed"] option[value="0"]{color:#FF0000}

select[name="auftr"] option[value="10"]{background:transparent}
select[name="auftr"] option[value="9"]{background:transparent}
select[name="auftr"] option[value="8"]{background:transparent}
select[name="auftr"] option[value="7"]{background:transparent}
select[name="auftr"] option[value="6"]{background:transparent}
select[name="auftr"] option[value="5"]{background:transparent}
select[name="auftr"] option[value="4"]{background:transparent}
select[name="auftr"] option[value="3"]{background:transparent}
select[name="auftr"] option[value="2"]{background:transparent}
select[name="auftr"] option[value="1"]{background:transparent}
select[name="auftr"] option[value="0"]{background:transparent}

select[name="newrang"] option[value="10"]{background:transparent}
select[name="newrang"] option[value="20"]{background:transparent}
select[name="newrang"] option[value="30"]{background:transparent}
select[name="newrang"] option[value="40"]{background:transparent}

td font a:active{  background:#EEEEEE; color:#888888;}
td font a:hover{ background:#29315F; color:white;}

/*-----------------------------------------*/
/*    TIPO DE CLASIFICACION ESTADISTICAS   */
/*-----------------------------------------*/

select[name="type"] option[value="pts"]{color:#FF0000}
select[name="type"] option[value="flt"]{color:#00FF00}
select[name="type"] option[value="res"]{color:#00FFFF}

/*-----------------------------------------*/
/*          RANKINGs ESTADISTICAS          */
/*-----------------------------------------*/

select[name="start"] option[value="1"]{color:#00FF00}
select[name="start"] option[value="101"]{color:#00FF33}
select[name="start"] option[value="201"]{color:#33FF33}
select[name="start"] option[value="301"]{color:#66FF33}
select[name="start"] option[value="401"]{color:#99FF33}
select[name="start"] option[value="501"]{color:#99FF00}
select[name="start"] option[value="601"]{color:#CCFF00}
select[name="start"] option[value="701"]{color:#FFFF00}
select[name="start"] option[value="801"]{color:#FFEA00}
select[name="start"] option[value="901"]{color:#FFCC00}
select[name="start"] option[value="1001"]{color:#FF9900}
select[name="start"] option[value="1101"]{color:#FF8300}
select[name="start"] option[value="1201"]{color:#FF6600}
select[name="start"] option[value="1301"]{color:#FF3300}
select[name="start"] option[value="1401"]{color:#FF0000}

/*-----------------------------------------*/
/*            IMPORTANCIA NOTAS            */
/*-----------------------------------------*/

select[name="u"] option[value="2"]{color:#FF0000}
select[name="u"] option[value="1"]{color:#FFFF00}
select[name="u"] option[value="0"]{color:#00FF00}

/*-----------------------------------------*/
/*         PORCENTAJE DE RECURSOS          */
/*-----------------------------------------*/

option[value="100"]{color:#00FF00}
option[value="90"]{color:#33FF00}
option[value="80"]{color:#66FF00}
option[value="70"]{color:#99FF00}
option[value="60"]{color:#CCFF00}
option[value="50"]{color:#FFFF00}
option[value="40"]{color:#FFCC00}
option[value="30"]{color:#FF9900}
option[value="20"]{color:#FF6600}
option[value="10"]{color:#FF3300}
option[value="0"]{color:#FF0000}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*                          OTROS EXTRAS                          */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------*/
/*          DEPOSITOS AL MAXIMO            */
/*-----------------------------------------*/

table[width="100%"] tr > td + td > font
{
text-decoration:none;
text-transform: uppercase;
font-size:15px;
}


/*-----------------------------------------*/
/*      ETIQUETA DE CAMPOS OCUPADOS        */
/*-----------------------------------------*/

th a[title="campos"]:before { content: "campos:";}
th a[title="campos"]:after { content: "ocupados"; color: #FFCC55}


/*-----------------------------------------*/
/*   COLORES RECURSOS en menu RECURSOS     */
/*-----------------------------------------*/

table[width="500"] tr > th + th {color:#888888;}
table[width="500"] tr > th + th + th {color:#9589F9;}
table[width="500"] tr > th + th + th + th {color:#00CC00;}
table[width="500"] tr > th + th + th + th + th {color:#FF0000;}


/*-----------------------------------------*/
/*     JUGADOR ALIADO EN ESTADISTICAS      */
/*-----------------------------------------*/

select[name="who"] option[value="player"]{color:#FFFF00;}
select[name="who"] option[value="ally"]{color:#FF3333;}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*                                                                                          
                  R¾                                     `                                
  ¾¾¾¾¾¾¾¾¾¾¾¾¾ ¾¾¾¾           +¾¾¾¾¾¾¾¾¾  ¾¾¾¾¾¾¾¾¾¾¾¾¾¾d /¾¾¾¾¾¾¾¾"     
  ¾¾¾¾¾¾¾¾¾¾¾/  ¾¾¾¾          ¾¾¾¾¾¾¾¾¾¾¾¾+ (¾¾¾¾¾¾¾¾¾¾¾  ¾¾¾¾¾¾¾¾¾¾¾¾    
  ¾¾¾1          ¾¾¾¾         ¾¾¾¾       ¾¾¾"    (¾¾¾     ¾¾¾¾      ¾¾¾+ 
  ¾¾¾¾¾¾¾¾¾¾¾   ¾¾¾¾         ¾¾¾¾       ¾¾¾"    (¾¾¾     ¾¾¾¾      ¾¾¾+  
  ¾¾¾¾¾¾¾¾¾0    ¾¾¾¾         ¾¾¾¾       ¾¾¾"    (¾¾¾     ¾¾¾¾¾¾¾¾¾¾¾¾¾+ 
  ¾¾¾1          ¾¾¾¾         ¾¾¾¾       ¾¾¾"    (¾¾¾     ¾¾¾@      ¾¾¾+  
  ¾¾¾1          ¾¾¾¾¾¾¾¾¾¾¾¾  1¾¾¾¾¾¾¾¾¾¾¾      (¾¾¾     ¾¾¾¾      ¾¾¾+  
  ¾¾¾                                           (¾¾¾     ¾@¾6           
  )                                             ("       ¾       

*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/* Floten Naughter ORD by Danix2007 */

/* ******EXPLICACION****** */
/*

· attack        --> mensajes de ataque CONTRA ti.

· espionage     --> mensajes de espionaje CONTRA ti.

· ownattack     --> mensajes de ataque que realizas tu.

· ownespionage  --> mensajes de espionaje realizados por ti.

· ownharvest    --> mensajes de reclicaje. (Obviamente los tuyos)

· owndeploy     --> mensajes de Desplegar Flota

· owntransport  --> mensajes de transporte realizados por ti.

. transport     --> mensajes de transporte hacia ti.

. colony        --> Mensajes de colonizacion

. missile       --> Mensajes de misiles

**************************************************************

Todas estas clases tienen 3 variantes (PREFIJOS)


. Sola: En los mensajes de ida y vuelta de la vista general la palabra FLOTAS. 
        (La que al poner el raton sobre ella aparece un recuadro indicando la
        composición de la flota) 
        En los de vuelta, tambien el tipo de mision realizada.

. flight: Es el texto que se utiliza en los mensajes de IDA.

. return: Es el texto que se utiliza en los mensajes de vuelta.

*************************************************************

Además de estas clases tenemos las siguientes:

· class --> Utilizado en los mensajes de vuelta en la vista general para indicar
            el tipo de misión realizada. (Atacar, Desplegar, Transportar, etc...)
            (es la última palabra que aparece en esos mensajes).
            SÓLO APARECE MIENTRAS NO SE HAYA LLEGADO AL OBJETIVO, ES DECIR, MIENTRAS 
            HAY UN MENSAJE DE IDA PARA ESA MISMA FLOTA.

· tooltip_border --> el recuadro emergente que aparece en la vista general al poner el raton 
            sobre la palabra Flota o el tipo de misión.

· combatreport --> Informe de batalla en la vista Mensajes.

· espionagereport --> Informe de espionaje en la vista Mensajes. SOLO afecta al encabezado, 
            es decir "Informe de espionaje de XXXXXX".

*******************************

Las IDs utilizadas son:

· galaxy_form --> La vista de Galaxia.

· distance

· duration

· consumption

· maxspeed

· storage

· bxxN --> en la vista general el tiempo restante de cada mision,
           donde N es el numero de fila:
           bxx1 = primera fila, bxx2 = segunda fila, etc...

***********************************
*/

/*
*********************************
Para que se vean las naves en los mensajes entre parentesis,
añadir esto despues de los a[titles]:

.XXX XXXXX a[title]:after
{
content:" - "attr(title)" -";
color:#999999;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}

*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*                     COLORES DE FLOTAS                          */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

span a[title]:after 
{content:" [ "attr(title)" ] " !important; color:#999999 !important; font-size: 9px !important; font-weight: normal !important;} 
/*----------------------------------------------------------------*/
/*              MENSAJES DE ATAQUE Y ESPIONAJE AJENOS             */
/*----------------------------------------------------------------*/
.attack {
	color:#FF0000;
}

.attack a{
    color:#FFFF00;
    text-decoration:blink;
}

.attack a[title]:after
{
content:" - "attr(title)" -";
color:#FFFFFF;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}


.flight.attack {
	color:FF0000;
text-transform: uppercase;
font-family: arial,tahoma;
font-size: 11px

}

.flight.attack a{
	color:#FFFF00;
text-transform: lowercase;
text-decoration: blink;
}

.flight.attack a[title]:after
{
content:" !!! "attr(title)" !!! ";
color:#DDABAB;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
text-transform: lowercase;
}

/*o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o-o*/

.espionage {
	color:#CC00BB;
}

.espionage a{
	color:#DD0101;
}

.espionage a[title]


.flight.espionage {
	color:CC00BB;
}

.flight.espionage a{
	color:#DD0101;
}

.flight.espionage a[title]


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*----------------------------------------------------------------*/
/*                  MENSAJES DE ATAQUE PROPIOS                    */
/*----------------------------------------------------------------*/

.ownattack {
	color:#CC3300;
}
.ownattack a{
	color:#FFFF00;
}
.ownattack a[title]:after {color:#660033;
}



.flight.ownattack {
    color:#DD1212;
}

.flight.ownattack a{
    color:#FFFF00;
} 

.flight.ownattack a[title]:after
{
content:" - "attr(title)" - ";
color:#999999;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}

.return.ownattack {
	color:#AAAAAA;
}
.return.ownattack a{
	color:#FF1111;
}
.return.ownattack a[title]:after
{
content:" - "attr(title)" -";
color:#777777;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}

tr.return span.return.ownattack span.class
{
color:#FAFAFA;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*----------------------------------------------------------------*/
/*                 MENSAJES DE ESPIONAJE PROPIOS                  */
/*----------------------------------------------------------------*/

.ownespionage {
    color:#FFFF66;
}
.ownespionage a{
    color:#AAAAFF;
}
.ownespionage a[title]:after {
	color:#AAAAFF;
}


.flight.ownespionage {
	color:#FF59F1;
}
.flight.ownespionage a{
	color:#FFFFFF;
}
.flight.ownespionage a[title]:after
{
content:" - "attr(title)" -";
color:#999999;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}



.return.ownespionage {
	color:#999999;
}
.return.ownespionage a{
	color:#DD00DD;
}
.return.ownespionage a[title]

tr.return span.return.ownespionage span.class
{
color:#FAFAFA;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*----------------------------------------------------------------*/
/*            MENSAJES DE TRANSPORTE PROPIOS Y AJENOS             */
/*----------------------------------------------------------------*/

.owntransport {
	color:#66FF00;
}
.owntransport a{
    color:#AACCAA;
}
.owntransport a[title]:after {color:#6699CC;
}


.flight.owntransport {
	color:#40D429;
}
.flight.owntransport a{
    color:#FFFFFF;
}
.flight.owntransport a[title]:after
{
content:" - "attr(title)" -";
color:#AAAAAA;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}


.return.owntransport {
	color:#999999;
}
.return.owntransport a{
	color:#22DD11;
}
.return.owntransport a[title]:after
{
content:" - "attr(title)" -";
color:#777777;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}


.transport {
	color:#FAFAFA;
}
.transport a{
	color:#11FF11;
}
.transport a[title] a[title]:after
{
content:" - "attr(title)" -";
color:#AAAAAA;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}


.flight.transport {
	color:#FFEE77;
}
.flight.transport a{
	color:#11BB11;
}
.flight.transport a[title]:after {content:" ("attr(title)")"; color:#6666DD;
}

/*----INFO-----*/
/* Este marcador sirve para cambiar el color de la palabra
de tipo de mision (ultima palabra) en las misiones de vuelta,
solocuando aun existe la mision de ida */

tr.return span.return.owntransport span.class
{
color:#FAFAFA;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*----------------------------------------------------------------*/
/*                    MENSAJES DE DESPLIEGUE                      */
/*----------------------------------------------------------------*/


.owndeploy {
    color:#BB44BB;
}
.owndeploy a{
    color:#FF66FF;
}
.owndeploy a[title]:after {
	color:#FF66FF;
}


.flight.owndeploy {
    color:#6666DD;
}
.flight.owndeploy a{
    color:#FFFFFF;
}
.flight.owndeploy a[title]:after
{
content:" - "attr(title)" -";
color:#AAAAAA;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}


.return.owndeploy {
    color:#999999;
}
.return.owndeploy a{
    color:#6666EE;
}
.return.owndeploy a[title]:after
{
content:" - "attr(title)" -";
color:#777777;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}

tr.return span.return.deploy span.class
{
color:#FAFAFA;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*----------------------------------------------------------------*/
/*                     MENSAJES DE RECICLAJE                      */
/*----------------------------------------------------------------*/



.ownharvest {
	color:#AAAAFF;
}
.ownharvest a{
	color:#AAAAFF;
}
.ownharvest a[title]:after
{
content:" - "attr(title)" -";
color:#777777;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}



.flight.ownharvest {
    color:#FAA000;
}
.flight.ownharvest a{
    color:#FFFFFF;
}

.flight.ownharvest a[title]:after
{
content:" - "attr(title)" -";
color:#AAAAAA;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}


.return .ownharvest {
    color:#999999;
}
.return .ownharvest a{
    color:#FAA000;
}
.return .ownharvest a[title]:after
{
content:" - "attr(title)" -";
color:#777777;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}

tr.return span.return.ownharvest span.class
{
color:#FAFAFA;
}


/*----------------------------------------------------------------*/
/*                   MENSAJES DE COLONIZACION                     */
/*----------------------------------------------------------------*/

.owncolony {
	color:#FAFAFA;
}
.owncolony a {
	color:#DDFF00;
}
.owncolony a[title]:after
{
content:" - "attr(title)" -";
color:#AAAAAA;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}


.flight.owncolony {
	color:#FAFAFA;
}
.flight.owncolony a {
	color:DDFF00;
}
.flight.owncolony a[title]:after
{
content:" - "attr(title)" -";
color:#AAAAAA;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}



.return.owncolony {
	color:#999999;
}
.return.owncolony a {
	color:#DDFF00;
}
.return.owncolony a[title]

tr.return span.return.owncolony span.class
{
color:#FAFAFA;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*----------------------------------------------------------------*/
/*                      MENSAJES DE MISILES                       */
/*----------------------------------------------------------------*/


tr.flight span.flight.missile
{color:#EE4444}

tr.flight th a.missile 
{FFEE33}

.ownmissile {
	color:#FCFCFC;
}
.ownmissile a {
	color:#FF0000;
}
.ownmissile a[title]:after
{
content:" - "attr(title)" -";
color:#AAAAAA;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}



.flight.ownmissile {
	color:#FCFCFC;
}
.flight.ownmissile a{
	color:#FF0000;
}
.flight.ownmissile a[title]:after
{
content:" - "attr(title)" -";
color:#AAAAAA;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*----------------------------------------------------------------*/
/*                 MENSAJES DE CONFEDERACION (SAC)                */
/*----------------------------------------------------------------*/
/* REVISED */


/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*          Ataques SAC          */
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*----------------------*/

.ownfederation {
    color:#AAAAAA;
}

.ownfederation a{
    color:#AAAAAA;
    text-decoration:blink;
}

.ownfederation a[title]:after 
{
content:" - "attr(title)" -";
color:#AAAAAA;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}

/*----------------------*/

.flight.ownfederation {
	color:#AA4599;
font-size: 13px;
font-family: Calibri,arial,Tahoma;
}
.flight.ownfederation a {
	color:DDFF00;
}
.flight.ownfederation a[title]:after
{
content:" >>> "attr(title)" <<< ";
color:#FFAAFF;
font-size: 12px;
font-family: calibri,arial,Tahoma;
font-weigh: bold;
}

/*----------------------*/

.return.ownfederation {
	color:#FFAAFF;
}
.return.ownfederation a {
	color:#AA4599;
}
.return.ownfederation a[title]:after
{
content:" - "attr(title)" -";
color:#888888;
font-size: 10px;
font-family: Arial,Tahoma;
font-weigh: bold;
}

/*----------------------*/

tr.return span.return.ownfederation span.class
{
color:#AA4599;
}

/*----------------------*/

/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */
/* ------------------------------- */


tr th span.federation {
    color:#42FFC9;
}
tr th span.federation a{
    color:#white;
}
tr th span.attack a{
    color:#42FFC9;
}
tr th span.federation a[title]:after {content:" ("attr(title)")"; color:#42FFC9;
}
tr th span.attack a[title]:after {content:" ("attr(title)")"; color:white;
}


tr th span.ownhold {
    color:#42FFC9;
}
tr th span.ownhold a{
    color: #FFFFFF;
}
tr.flight th span.ownhold a{
    color:white;
}
tr th span.ownhold a[title]:after {content:" ("attr(title)")"; color:white;
}
tr.flight th span.ownhold a[title]:after {content:" ("attr(title)")"; color:white;
}


tr th span.ownmissile {
    color:#FEEFAC;
}
tr th span.ownmissile a[title]:after {content:" ("attr(title)")"; color:#FEEFAC;
}


tr th span.owndestroy {
    color:lime;
}
tr th span.owndestroy a{
    color:yellow;
}
tr th span.owndestroy a[title]:after {content:" ("attr(title)")"; color:yellow;
}

.ownattack {
    color:#ACFEF6;
}

.ownattack a{
    color:yellow;
}

.ownattack a[title]


.destroy {
    color:red;
}
.destroy a{
    color:yellow;
}
.destroy a[title]:after {content:" ("attr(title)")"; color:#EEEEEE;
}


.hold {
    color:#3399FF;
}
.hold a{
    color:#334455;
}
.flight.hold a{
    color:#667788;
}
.hold a[title]:after {content:" ("attr(title)")"; color:#333333;
}


.return .ownhold {
    color:#ACFEB7;
}
.return .ownhold a{
    color:#D5CFCA;
}
.return .ownhold a[title]


/* amount of ships - words in english */
center table tbody tr[height="20"] > th + th + th a[title~="Jæger:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Spionagesonde:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Transporter:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Koloniskib"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Slagskib:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Bomber:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Destroyer:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Dødsstjerne:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Recycler:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Krydser:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Interceptor:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Fighter"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Probe"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Cargo"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Ship"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Battleship:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Bomber:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Destroyer:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="DeathStar:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Recycler:"]:after,
center table tbody tr[height="20"] > th + th + th a[title~="Cruiser:"]:after
{
  content: " _______________FLEET_______________ "attr(title)"";
  color: #FFCC33;
  font-weight: normal;
  font-size: 10px;  
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

