<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         colors="true"
         defaultTestSuite="Deep Space Horror Test Suite">

    <testsuites>
        <testsuite name="Deep Space Horror Test Suite">
            <directory>.</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">.</directory>
        </include>
    </source>

    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="sqlite"/>
        <env name="DB_DATABASE" value=":memory:"/>
    </php>

</phpunit>
