@charset "utf-8";
/* CSS Document */

/*
         Toolbox CSS
*/
/*
	LAYOUT TOOLS
*/
.floatLeft 			{ float: left; }
.floatRight			{ float: right; }
.clear				{ clear: both; }
.layoutCenter	    { margin: 0 auto; }
.textCenter			{ text-align: center; }
.textRight			{ text-align: right; }
.textLeft			{ text-align: left; }
.textBeefy          { font-weight: 700; }
.textGrow			{ text-transform:uppercase; }
.textTop            { vertical-align:top; }
/*
	PRINT TOOLS
*/
.page-break 			{ page-break-before: always; }
/*
	TYPOGRAPHIC TOOLS
*/
.error				{ border: 1px solid #fb4343; padding: 3px; color: #fb4343; }
.warning			{ border: 1px solid #d4ac0a; padding: 3px; color: #d4ac0a; }
.success			{ border: 1px solid #149b0d; padding: 3px; color: #149b0d; }
.callOut			{ font-size: 125%; font-weight: bold; }
.strikeOut			{ text-decoration: line-through; }
.underline			{ text-decoration: underline; }
.resetTypeStyle			{ font-weight: normal; font-style: normal; font-size: 100%;
					  text-decoration: none; background-color: none; word-spacing: normal;
					  letter-spacing: 0px; text-transform: none; text-indent: 0px; }
/*
	STYLING EXTRAS
*/
.transpBlack			{ background: url(images/transpBlack.png); }
/*
	DISPLAY VALUES
*/
.hide				{ display: none; }
.show				{ display: block; }
.invisible			{ visibility: hidden; }

/*
	COLORS
*/
.friendly {color:#9c0;}
.neutral {color:#D29D00;}
.hostile {color:#D43635;}