@charset "utf-8";
/* CSS Document */

#trader .c-left, 
#trader .c-right {
	height:39px;
	width:28px;	
	position:absolute;	
	top:214px;
}

#trader #planet {	height:250px;}

#trader div#merchant {
	background-color:#0D1014;
	border:2px solid #000;
	color:#6F9FC8;
    height:350px;
	-moz-border-radius: 7px;
	width:625px;
	margin:1px auto 0px 1px;
	overflow:hidden;
}

#trader div#merchant table#merchanttable td.resIcon
{
    width: 48px;
    margin-right:10px;
}

#trader #inhalt #merchant {
	overflow:hidden;
	height:250px;
	width:639px; 
	padding:8px 15px 0px 15px;
}

#trader #inhalt #merchant h3 {
	width:625px;
	padding-bottom:15px; 
	float:left;
}
#trader #inhalt #merchant .close {
	float:right; 
	display:inline; 
	margin-right:0px;
}

#trader #merchant th {
	padding:5px 0px;
	background-color: rgb(51, 51, 51);
}

#trader #merchant td {
	padding:3px;
    text-align:center;
}

#trader #merchant td.freeStorage,
#trader #merchant td.tradingRate {
    width:130px;
}

#trader #merchant td.noCenter {
	text-align:left;
}

#trader #merchant tr.toSell {
	border: 2px solid #99CC00;
}

#merchant table {
	margin: 0px auto; 
	width: 600px;
	border-collapse:collapse;
}

#merchant table tr.borderb td {
	border-bottom: 1px dotted #848484;
}

#merchant table td.bordered {
	border: 1px dotted #848484;
}

#trader h3 {
	color:#6F9FC8;
	font-size:12px;
	line-height:23px;
	text-align:center;
	font-weight:700;
	padding:2px 0 0 0;
}

#trader #merchant table {	
	margin-top: 3px;
	width:550px;
}

#trader #inhalt #merchant h3 {
	float:left;
	padding-bottom:15px;
	width:625px;
}

#trader #merchant td {
	background-color:#0D1014;
}

#trader #merchant tr.traderActions {
    height:200px;
}

#trader #merchant td.rate {
	font-size:25px;
	font-weight:700;	
}

#trader #merchant td.rate2 {
	font-size:9px;
}

#trader #merchant tr.alt td {
	background-color:#13181D;
}

#trader #merchant td.rate2 a:link,
#trader #merchant td.rate2 a:visited,
#trader #merchant td.rate2 a:hover,
#trader #merchant td.rate2 a:active{
	text-decoration:none;
}



#trader #merchant td.rate:hover {	background-color:#353535;}

#trader #merchant .tradebutton {
	display:block;
	margin:10px auto;
	padding:2px 3px;
	background-color:#51B40E;
	color:#e3e3e3;
	cursor:pointer;	
}

#trader #merchant .textinput {
	background-color:#274650;
	border:1px solid #141A1E;
	color:#848484;
	text-align:right;
	font-size:12px;
}

#trader #buttonz {
	background-image:url(http://gf1.geo.gfsrv.net/cdncb/e13f7e5adcc42d1db03a7667bd60f6.gif);
	height:175px;
}

#trader #buttonz div {
	margin:15px auto; 
	text-align:center;
}


#trader #buttonz a.active,
#trader #buttonz a:hover {
	background:url(http://gf1.geo.gfsrv.net/cdn50/dff15e77d7fbbc0f963f8dd2a68886.gif) no-repeat 0px 0px;
}

#selectRes span.pic {
	display:block;
	height:80px;
	width:80px;
	position:absolute;
	
}

#trader ul.merchList { 
	height:80px;
	left:50%;
	list-style-type:none;
	margin-left:-135px;
	position:absolute;
	width:270px;
}

#trader ul.merchList li.crystal {
	margin:0px 15px;
}

#trader ul.merchList li {
	display:inline;
	float:left;
}

#trader ul.merchList li span {
	background:transparent url(http://gf1.geo.gfsrv.net/cdnbb/a9fe14ed992de9b7f40d22213a475e.png);
	display:block;
	height:80px;
	width:80px;
}

#trader ul.merchList li.metal span {
	background-position: 0px 0px;
}

#trader ul.merchList li.crystal span {
	background-position: -80px 0px;
}

#trader ul.merchList li.deut span {
	background-position: -160px 0px;
}

#trader ul.merchList li span {}

#trader ul.merchList li a{
	display:block;
	height:80px;
	width:80px;
}

#trader a.close_details {
	float: right;
	margin: -3px 0px 0px;
}

#trader #merchant .button188 {
	display:block;
	margin:10px auto 0px;
}

#trader #merchant a.close_details {
    position:absolute;
    right:70px;
    top:9px;
}