@charset "utf-8";
/* CSS Document */

/*-**************** STATISTIK/HIGHSCORE *****************/

#highscore .contentbox {
	color:#848484;
	font-size:12px;
	width:670px;
}

#highscore .leftcol {
	width:430px;
	float:left;
}

#highscore .rightcol {
	width:200px;
	float:left;
	overflow-x:hidden;
}

#highscore .contentbox div.header,
#highscore .contentbox div.content,
#highscore .contentbox div.footer {
	background-image:url(http://gf1.geo.gfsrv.net/cdn85/e15f6af4946be6f9dbd999ccb0ec7b.gif);
}

#highscore .contentbox div.header {
	background-color:transparent;
	background-position:0px 0px;
	background-repeat:no-repeat;
	height:29px;
}

#highscore .contentbox div.content {
	background-position:0px 0px;
	background-repeat:repeat-y;
	background-image:url(http://gf1.geo.gfsrv.net/cdne7/3e31441afc04a23fdea44f7255ad91.gif);
	margin:0px 0px 0px 6px;
	padding:10px 15px 10px 15px;
	width:630px;
}

#highscore .contentbox div.footer {
	background-color:transparent;
	background-position:0px -654px;
	background-repeat:no-repeat;
	height:46px;
}

#highscore .header h3 {
	font-weight:700;
}

#highscore .contentbox div.content table {
	width:100%;
	color:#848484;
	font-size:11px;
	border-collapse:collapse;
}

#highscore #ranks td.score {
    font-size: 13px;
    width:150px;
    font-weight: bold;
    text-align: right;
}

#highscore .contentbox a:link,
#highscore .contentbox a:visited
 {
	color:#848484;
	text-decoration:none;
}

#highscore .contentbox a:hover {
	color:#9B9B9B;
	text-decoration:underline;
}
#highscore .contentbox a:active {
	color:#848484;
	text-decoration:none;
}

#highscore .contentbox div.content table#ranks th{
	padding:3px;
	border-bottom:1px solid #848484;
	background-color:#23313c;
	text-align:center;
	text-transform:uppercase;
}

#highscore .contentbox div.content table#ranks .place {
	padding:2px 5px;
}

#highscore .contentbox div.content table#ranks tr.alt td {
	background-color:#13181D;
}

#highscore table.top10 { margin-top:0px;}

#highscore .contentbox div.content table#ranks td.sendmsg {
    width: 50px;
}

#highscore .contentbox div.content table#ranks.userHighscore td.sendmsg {
    text-align:left;
    padding-left:15px;
    padding-right: 0px;
}
#highscore .contentbox div.content table#ranks.allyHighscore td.sendmsg {
    text-align:center;
}
#highscore .contentbox div.content table#ranks td.movement {
    text-align: center;
    padding-left:0px;
    padding-right:0px;
    width:60px;
}

#highscore .contentbox div.content table#ranks td.position {
    width: 60px;
}

#highscore .contentbox div.content table#ranks td span.scoreAverage {
    font-size: 8px;
}

#highscore table.top10 td.alt {	background-color:#13181D;}

#highscore .contentbox div.content table#ranks td,
#highscore table.top10 td{
	padding: 4px 8px;
	border:1px solid #000000;
	line-height:17px;
	overflow:hidden;
}

#highscore .contentbox div.content table#ranks tr {overflow:hidden;}

#highscore .contentbox div.content table#ranks tr.hover td{ background-color:#212A33;}

#highscore table.top10 td.namecol { width:170px;}

#highscore table.top10 td.namecol a {height:17px; overflow:hidden}

#highscore table.top10 td span.allytag {	color:#5E699E;}

#highscore .contentbox div.content table#ranks td.col1{
	width:50px;
	text-align:center;
	color:#ffffff;
}

#highscore .top10 td.rankcol {
	width:25px;
	text-align:center;
	font-weight:700;
}

#highscore div.claimsmall {
	background: #23313c;
	border-bottom: 2px solid #848484;
	height:44px;
	color:#848484;
	font-size:10px;
	text-transform:uppercase;
	font-weight:700;
}

div.claimsmall p{
	display:inline;
	line-height:40px;
	margin:0px;
}

#highscore .contentbox div.content select {
	color:#6F9FC8;
	font-size:12px;
	line-height:14px;
	border:1px solid #848484;
	background-color:#10181F;
	cursor:pointer;
	text-transform:capitalize;
}

#highscore .contentbox div.content select:hover {
	background-color:#000000;
}

#highscore #row a.send {
	background: transparent url(http://gf1.geo.gfsrv.net/cdna5/e1b499e9d2ef42942416cadb54a770.gif) left top no-repeat;
	float:left;
	height:54px;
	width:135px;
	padding:0px 0 0;
	text-decoration:none;
	font-size:11px;
	color:#ffffff;
	font-weight:700;
	text-transform:uppercase;
	cursor:pointer;
}

#highscore a.send:link,
#highscore a.send:visited,
#highscore a.send:hover,
#highscore a.send:active {
	text-decoration:none;
	cursor:pointer;
}

#highscore a.send span {
/*	background: transparent url(http://gf1.geo.gfsrv.net/cdnd6/3030cb2158d1362f019bef6ed63d12.gif) right top no-repeat ;*/
/*	float:left;*/
	display:block;
	height:34px;
	color:#ffffff;
	text-align:center;
	padding:20px 0px 0px;
}


#highscore div.parameter {
	float:right;
	margin:0px 10px 0px 0px;
	display:inline;
	height:20px;
	font-size:11px;
}
#highscore div.senddiv {
	float:left;
	display:inline;
	padding:6px 0px 0px 0px;
	text-align:center;
	margin-left:0px;
}

#highscore span.position {
	font-weight:700;
	display:block;
	padding-bottom:8px;

}


#highscore .contentbox div.content div#parameter {
	text-align:center;
	font-weight:700;
	height:25px;
	margin-bottom:15px;
}

#highscore #row {	height:65px;}

#highscore #row div.buttons {
	display:inline;
	float:left;
	height:54px;
	margin:6px 0px 0px 7px;
	padding:0px;
	width:160px;
}

#highscore #row div.rightCol {	width:455px;}

#highscore #row div.buttons a{
	display:inline; /* IE6 */
	float:left;
	height:54px;
	margin-right:10px;
	overflow:visible;
	position:relative;
	width:54px;
}

#highscore div#subnav_fleet,
#highscore div#subnav_research,
#highscore div#subnav_all{
    height: 54px;
    width:180px;
    margin: 8px 10px 0px 5px;
}

#highscore #row div.buttons div#subnav_research a.subnavButton_lost,
#highscore #row div.buttons div#subnav_research a.subnavButton_built,
#highscore #row div.buttons div#subnav_research a.subnavButton_destroyed,
#highscore #row div.buttons div#subnav_research a.subnavButton_honor,
#highscore #row div.buttons div#subnav_fleet a.subnavButton_honor,
#highscore #row div.buttons div#subnav_fleet a.subnavButton_destroyed,
#highscore #row div.buttons div#subnav_fleet a.subnavButton_lost,
#highscore #row div.buttons div#subnav_fleet a.subnavButton_built,
#highscore #row div.buttons div#subnav_all a.subnavButton_built,
#highscore #row div.buttons div#subnav_all a.subnavButton_lost,
#highscore #row div.buttons div#subnav_all a.subnavButton_honor
#highscore #row div.buttons div#subnav_all a.subnavButton_destroyed {
    height:34px;
    width:34px;
    margin: 11px 5px 5px;
    background: transparent url(http://gf1.geo.gfsrv.net/cdnc4/6f6b7e29edf86992b7e7162f23789a.png) no-repeat center;
}

#highscore #row div.buttons div#subnav_fleet a.subnavButton_lost,
#highscore #row div.buttons div#subnav_research a.subnavButton_lost,
#highscore #row div.buttons div#subnav_all a.subnavButton_lost {
    background-position: -33px;
}
#highscore #row div.buttons div#subnav_fleet a.subnavButton_lost:hover,
#highscore #row div.buttons div#subnav_research a.subnavButton_lost:hover,
#highscore #row div.buttons div#subnav_all a.subnavButton_lost:hover {
    background-position: -166px;
}

#highscore #row div.buttons div#subnav_fleet a.subnavButton_built,
#highscore #row div.buttons div#subnav_research a.subnavButton_built,
#highscore #row div.buttons div#subnav_all a.subnavButton_built {
    background-position: 0px;
}

#highscore #row div.buttons div#subnav_fleet a.subnavButton_built:hover,
#highscore #row div.buttons div#subnav_research a.subnavButton_built:hover,
#highscore #row div.buttons div#subnav_all a.subnavButton_built:hover {
    background-position: -133px;
}

#highscore #row div.buttons div#subnav_fleet a.subnavButton_destroyed,
#highscore #row div.buttons div#subnav_research a.subnavButton_destroyed,
#highscore #row div.buttons div#subnav_all a.subnavButton_destroyed {
    background-position: -66px;
}
#highscore #row div.buttons div#subnav_fleet a.subnavButton_destroyed:hover,
#highscore #row div.buttons div#subnav_research a.subnavButton_destroyed:hover,
#highscore #row div.buttons div#subnav_all a.subnavButton_destroyed:hover {
    background-position: -199px;
}

#highscore #row div.buttons div#subnav_fleet a.subnavButton_honor,
#highscore #row div.buttons div#subnav_research a.subnavButton_honor,
#highscore #row div.buttons div#subnav_all a.subnavButton_honor {
    background-position: -99px;
}
#highscore #row div.buttons div#subnav_fleet a.subnavButton_honor:hover,
#highscore #row div.buttons div#subnav_research a.subnavButton_honor:hover,
#highscore #row div.buttons div#subnav_all a.subnavButton_honor:hover {
    background-position: -232px;
}


#highscore #row a#player:link,
#highscore #row a#player:visited {	background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) 0px 0px no-repeat;}
#highscore #row a#player:hover,
#highscore #row a#player.active { background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) 0px -54px no-repeat;}

#highscore #row a#alliance:link,
#highscore #row a#alliance:visited { background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -54px 0px no-repeat;}
#highscore #row a#alliance:hover,
#highscore #row a#alliance.active {background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -54px -54px no-repeat;}

#highscore #row a#points:link,
#highscore #row a#points:visited {	background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -108px 0px no-repeat;}
#highscore #row a#points:hover,
#highscore #row a#points.active {background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -108px -54px no-repeat;}

#highscore #row a#fleet:link,
#highscore #row a#fleet:visited {	background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -162px 0px no-repeat;}
#highscore #row a#fleet:hover,
#highscore #row a#fleet.active { background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -162px -54px no-repeat;}

#highscore #row a#research:link,
#highscore #row a#research:visited {background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -216px 0px no-repeat;}
#highscore #row a#research:hover,
#highscore #row a#research.active {background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -216px -54px no-repeat;}

#highscore #row a#economy:link,
#highscore #row a#economy:visited {background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -270px 0px no-repeat;}
#highscore #row a#economy:hover,
#highscore #row a#economy.active {background: transparent url(http://gf1.geo.gfsrv.net/cdne9/1fd57fa51cdb81035382943e635348.gif) -270px -54px no-repeat;}


#highscore #claim {
	background: #23313c;
	border-bottom: 1px solid #848484;
	color:#fff;
	font-size:10px;
	font-weight:bold;
	height:19px;
	padding:5px 15px 0px 13px;
	text-transform:uppercase;
}

#highscore #subnav {
    background: #23313c;
}

#highscore #paging a {
	color:#fff;
	text-decoration:none;
}

#highscore #paging a:hover {
	text-decoration:underline;
}

#highscore span.marker {
	background: transparent url(http://gf1.geo.gfsrv.net/cdn94/18b7942c2c8f3657b385546b6372b0.gif) no-repeat;
	display:none;
	height: 66px;
	left:-7px;
	position:absolute;
	top:-7px;
	width: 68px;
}

#highscore span.small-marker {
	background: transparent url(http://gf1.geo.gfsrv.net/cdnc3/ffb84c8f01bd94880ce1d49ef2dfda.png) no-repeat;
	display:none;
	height: 47px;
	left:-7px;
	position:absolute;
	top:-7px;
	width: 48px;
}

#highscore .active span.marker,
#highscore .active span.small-marker{
	display:block;
}

#highscore .leftbuttons {
	float:left;
	display:inline; /* IE6 fix */
	height:54px;
	padding:6px 0px 6px 0px;
	margin:0px 0px 0px 15px;
	width:128px;
}
#highscore .rightbuttons {
	float:left;
	display:inline; /* IE6 fix */
	height:54px;
	padding:6px 0px 5px 0px;
	margin:0px 10px 0px 10px;
	width:192px;
}
#highscore span.ally-tag a:link,
#highscore span.ally-tag a:visited,
#highscore span.ally-tag a:hover,
#highscore span.ally-tag a:active{
	color:#6f9fc8;
}

#highscore tr.myrank td { background-color:#1031A0;}

#highscoreContent { width: 670px;}

#highscoreContent .errorcol {
	height: 50px;
	line-height:50px;
	margin-top:10px;
}

#highscoreLoading {
	background: transparent url(http://gf1.geo.gfsrv.net/cdn0e/6e0f46d7504242302bc8055ad9c8c2.gif) no-repeat center;
	height: 550px;
	margin-left: 6px;
	position: absolute;
	top:0px;
	width: 654px;
	z-index:111;
}

#highscore #paging {
	font-size:11px;
	padding:8px 0px;
	text-align:center;
}


#highscore #subnav_fleet,
#highscore #subnav_ally,
#highscore #subnav_research {
    display:none;
}

#highscore #stat_list_content {
    width: 610px;
    min-height: 300px;
    border: 10px solid #22313B;
}

.rank_starlord1,
.rank_starlord2,
.rank_starlord3,
.rank_bandit1,
.rank_bandit2,
.rank_bandit3 {
    background: transparent url(http://gf1.geo.gfsrv.net/cdn31/0d31df283f135198103ab7a2cc11ca.png) no-repeat center;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

.rank_bandit1 {background-position: 0px;}
.rank_bandit2 {background-position: -15px;}
.rank_bandit3 {background-position: -30px;}

.rank_starlord1 {background-position: -45px;}
.rank_starlord2 {background-position: -60px;}
.rank_starlord3 {background-position: -75px;}

#highscoreHeadline {
    font-size: 22px;
    font-weight: bold;
    margin: 5px auto;
    width: 400px;
}
