@charset "utf-8";
/* CSS Document */

/**********************************************************
*************** =Station     *****************
***********************************************************/


#station #planet,
#station-moon #planet {
	background-repeat: no-repeat;
	height: 300px;
	margin: 0px auto;
	position: relative;
	width: 654px;
	margin-bottom:3px;
}

#station .c-left, 
#station .c-right,
#station-moon .c-left, 
#station-moon .c-right {
	height:39px;
	width:28px;	
	position:absolute;	
}

#station #buttonz,
#station-moon #buttonz {
  	background-image:url(http://gf1.geo.gfsrv.net/cdnef/77c5d0b60f22b387b9dc90e2c4a30e.gif);
	height:150px;
}

#station #buttonz ul#stationbuilding,
#station-moon #buttonz ul#stationbuilding { 
	width:648px;
	height:80px;
	margin:10px auto 0px 12px;	
	position:relative;
}

#station-moon #buttonz ul#stationbuilding { margin-left:16px;}

#station #buttonz ul#stationbuilding,
#station-moon #buttonz ul#stationbuilding { 
	margin-top:10px;
}


#station #buttonz ul#stationbuilding li.on div.buildingimg {
	background: url(http://gf1.geo.gfsrv.net/cdn19/94044aea1c9fa17ee2020eca310280.png) no-repeat;
}
#station #buttonz ul#stationbuilding li.off div.buildingimg {
	background: url(http://gf1.geo.gfsrv.net/cdn53/b8cb34c12b6defb2af932d0e18018a.png) no-repeat;
}
#station #buttonz ul#stationbuilding li.disabled div.buildingimg {
	background: url(http://gf1.geo.gfsrv.net/cdn86/7e51aef59ac7b9f61da54384a579ca.png) no-repeat;
}


#station #buttonz ul#stationbuilding li div.pusher {
	background-image: url(http://gf1.geo.gfsrv.net/cdn6d/808d6caf89f2fc2dd29eb17069a44b.jpg);
	background-repeat:no-repeat;
}

#station-moon #buttonz ul#stationbuilding li.on div.buildingimg,
#station-moon #buttonz ul#stationbuilding li.off div.buildingimg,
#station-moon #buttonz ul#stationbuilding li.disabled div.buildingimg,
#station-moon #buttonz ul#stationbuilding div.pusher {
	background-image: url(http://gf1.geo.gfsrv.net/cdnf0/304668c8c2c51b98f19d37e2118309.jpg);
	background-repeat:no-repeat;
}

#station #buttonz ul#stationbuilding li,
#station-moon #buttonz ul#stationbuilding li {
	width:80px;
	height:80px;
	background-repeat:no-repeat;
	float:left;
	list-style-type:none;	
	margin:0px 6px;
	display:inline; /* IE6 FIX */
}

#station-moon #buttonz ul#stationbuilding li { margin:0px 12px;}


#station #buttonz ul#stationbuilding li a:link,
#station #buttonz ul#stationbuilding li a:visited,
#station-moon #buttonz ul#stationbuilding li a:link,
#station-moon #buttonz ul#stationbuilding li a:visited  {
	display:block;
	height:80px;
	width:80px;
	background:url(http://gf1.geo.gfsrv.net/cdn42/e3d481656bab1b216428a98a2e022e.gif) no-repeat;
	color:#ff9600;
	text-decoration:none;	
}

#station #buttonz ul#stationbuilding li a:hover, 
#station #buttonz ul#stationbuilding li a.active,
#station #buttonz ul#stationbuilding li a.active:link,
#station-moon #buttonz ul#stationbuilding li a:hover, 
#station-moon #buttonz ul#stationbuilding li a.active,
#station-moon #buttonz ul#stationbuilding li a.active:link {
	background:url(http://gf1.geo.gfsrv.net/cdnad/85ac39e8f55c11b1634688f52030a6.gif) no-repeat;
	color:#ff9600;	
	text-decoration:none;	
}

#station #buttonz ul#stationbuilding li a:active,
#station-moon #buttonz ul#stationbuilding li a:active {
	display:block;
	height:80px;
	width:80px;
	background:url(http://gf1.geo.gfsrv.net/cdn42/e3d481656bab1b216428a98a2e022e.gif) no-repeat;
	color:#ff9600;	
	text-decoration:none;	
}


/* construction */

#station #buttonz ul#stationbuilding li div.construction a:link,
#station #buttonz ul#stationbuilding li div.construction a:visited,
#station-moon #buttonz ul#stationbuilding li div.construction a:link,
#station-moon #buttonz ul#stationbuilding li div.construction a:visited {
	display:block;
	height:80px;
	width:80px;
	background:url(http://gf1.geo.gfsrv.net/cdn6c/3c8fe32d22e51f7062901085f2fc12.gif) no-repeat;
	color:#ff9600;
	text-decoration:none;	
}

#station #buttonz ul#stationbuilding li div.construction a:hover, 
#station #buttonz ul#stationbuilding li div.construction a.active,
#station-moon #buttonz ul#stationbuilding li div.construction a:hover, 
#station-moon #buttonz ul#stationbuilding li div.construction a.active
{
	background:url(http://gf1.geo.gfsrv.net/cdn49/33b48c5ab13019eec2b94d04e3e5b0.gif) no-repeat;
	color:#ff9600;	
	text-decoration:none;	
}

#station #buttonz ul#stationbuilding li div.construction a:active,
#station-moon #buttonz ul#stationbuilding li div.construction a:active {
	display:block;
	height:80px;
	width:80px;
	background:url(http://gf1.geo.gfsrv.net/cdn6c/3c8fe32d22e51f7062901085f2fc12.gif) no-repeat;
	color:#ff9600;	
	text-decoration:none;	
}


/* buttonz */



#station #buttonz ul#stationbuilding li.on div div.buildingimg,
#station #buttonz ul#stationbuilding li.off div div.buildingimg,
#station #buttonz ul#stationbuilding li.disabled div div.buildingimg,
#station-moon #buttonz ul#stationbuilding li.on div div.buildingimg,
#station-moon #buttonz ul#stationbuilding li.off div div.buildingimg,
#station-moon #buttonz ul#stationbuilding li.disabled div div.buildingimg {
	position:relative;
}

#station ul#stationbuilding span.ecke,
#station-moon ul#stationbuilding span.ecke {
	position:relative;
	float:left;
    top:65px;
    left:10px;
    width:60px;
	text-align:right;
}

#station ul span.level,
#station-moon ul span.level {
	color:#ff9600;
	font-size:11px;
}

#station #buttonz ul#stationbuilding li#button1,
#station #buttonz ul#stationbuilding li#button2,
#station #buttonz ul#stationbuilding li#button3,
#station #buttonz ul#stationbuilding li#button4,
#station #buttonz ul#stationbuilding li#button5,
#station #buttonz ul#stationbuilding li#button6,
#station #buttonz ul#stationbuilding li#button7 {

}



#station #buttonz ul#stationbuilding li.on div.station14 div.buildingimg,
#station #buttonz ul#stationbuilding li.off div.station14 div.buildingimg,
#station #buttonz ul#stationbuilding li.disabled div.station14 div.buildingimg,
#station #buttonz ul#stationbuilding li div.station14 div.buildingimg div.pusher{ 
	background-position: 0px 0px;
}
#station #buttonz ul#stationbuilding li.on div.station15 div.buildingimg,
#station #buttonz ul#stationbuilding li.off div.station15 div.buildingimg,
#station #buttonz ul#stationbuilding li.disabled div.station15 div.buildingimg,
#station #buttonz ul#stationbuilding li div.station15 div.buildingimg div.pusher {
	background-position: -320px 0px;
}

#station #buttonz ul#stationbuilding li.on div.station21 div.buildingimg,
#station #buttonz ul#stationbuilding li.off div.station21 div.buildingimg,
#station #buttonz ul#stationbuilding li.disabled div.station21 div.buildingimg,
#station #buttonz ul#stationbuilding li div.station21 div.buildingimg div.pusher {
	background-position: -240px 0px;
}

#station #buttonz ul#stationbuilding li.on div.station31 div.buildingimg,
#station #buttonz ul#stationbuilding li.off div.station31 div.buildingimg,
#station #buttonz ul#stationbuilding li.disabled div.station31 div.buildingimg,
#station #buttonz ul#stationbuilding li div.station31 div.buildingimg div.pusher {
	background-position: -80px 0px;
}
#station #buttonz ul#stationbuilding li.on div.station33 div.buildingimg,
#station #buttonz ul#stationbuilding li.off div.station33 div.buildingimg,
#station #buttonz ul#stationbuilding li.disabled div.station33 div.buildingimg,
#station #buttonz ul#stationbuilding li div.station33 div.buildingimg div.pusher {
	background-position: -400px 0px;
}
#station #buttonz ul#stationbuilding li.on div.station34 div.buildingimg,
#station #buttonz ul#stationbuilding li.off div.station34 div.buildingimg,
#station #buttonz ul#stationbuilding li.disabled div.station34 div.buildingimg,
#station #buttonz ul#stationbuilding li div.station34 div.buildingimg div.pusher {
	background-position: -160px 0px;
}
#station #buttonz ul#stationbuilding li.on div.station44 div.buildingimg,
#station #buttonz ul#stationbuilding li.off div.station44 div.buildingimg,
#station #buttonz ul#stationbuilding li.disabled div.station44 div.buildingimg,
#station #buttonz ul#stationbuilding li div.station44 div.buildingimg div.pusher {
	background-position: -480px 0px;
}





#station-moon li.on div.station14 div.buildingimg,
#station-moon li div.station14 div.buildingimg div.pusher{ 	background-position: -80px 0px;}
#station-moon li.disabled div.station14 div.buildingimg {	background-position: -80px -80px;}
#station-moon li.off div.station14 div.buildingimg {			background-position: -80px -160px;}

#station-moon li.on div.station21 div.buildingimg,
#station-moon li div.station21 div.buildingimg div.pusher{ 	background-position: -160px 0px;}
#station-moon li.disabled div.station21 div.buildingimg  {	background-position: -160px -80px;}
#station-moon li.off div.station21 div.buildingimg {			background-position: -160px -160px;}

#station-moon li.on div.station41 div.buildingimg,
#station-moon li div.station41 div.buildingimg div.pusher{ 	background-position: 0px 0px;}
#station-moon li.disabled div.station41 div.buildingimg  {	background-position: 0px -80px}
#station-moon li.off div.station41 div.buildingimg {			background-position: 0px -160px;}

#station-moon li.on div.station42 div.buildingimg,
#station-moon li div.station42 div.buildingimg div.pusher{ 	background-position: -240px 0px;}
#station-moon li.disabled div.station42 div.buildingimg {	background-position: -240px -80px}
#station-moon li.off div.station42 div.buildingimg {			background-position: -240px -160px;}

#station-moon li.on div.station43 div.buildingimg,
#station-moon li div.station43 div.buildingimg div.pusher{ 	background-position: -320px 0px;}
#station-moon li.disabled div.station43 div.buildingimg  {	background-position: -320px -80px;}
#station-moon li.off div.station43 div.buildingimg {			background-position: -320px -160px;}



/**************************************************/
/*       SPRUNGTOR / JUMPGATE                     */
/**************************************************/

#station #TB_window #jumpgate,
#station-moon #TB_window #jumpgate {
	height:392px;
	background: transparent url(http://gf1.geo.gfsrv.net/cdn85/e15f6af4946be6f9dbd999ccb0ec7b.gif) no-repeat scroll 0px 0px;
	padding-top:8px; 
	overflow:hidden; 
	width:639px;
	padding:8px 15px 0px 15px;	
}

.oneLine21 { line-height:20px;}

#station #TB_window #jumpgate #fleetTemplatesEdit a#continue,
#station-moon #TB_window #jumpgate #fleetTemplatesEdit a#continue {
	display: block; 
	float: none; 
	height:38px;
	margin: 15px auto 0px; 
}

#station #jumpgate #selecttarget h4,
#station-moon  #jumpgate #selecttarget h4 {
	background-color: #13181d;
	border:1px solid #030303; 
	font-weight:100;
	font-size:11px;
	margin:10px auto 10px auto; 
	padding:5px 0px; 
	text-align:center; 
	width:600px; 
}

#station #fleetTemplatesEdit,
#station-moon #fleetTemplatesEdit {
	height: 270px;
	padding:15px 0px 0px;
	position:relative;
}


station-moon #fleetTemplatesEdit div.content {
	height:210px;
	line-height:14px;
}
 
#station #jumpgate th,
#station-moon #jumpgate th{
	background-color: #13181d; 
	border:1px solid #030303; 
	font-weight:100;
	padding:5px 0px;
}

#station #jumpgate td,
#station-moon #jumpgate td {
	padding:2px 0px;
}

#station #fleetTemplatesEdit table,
#station-moon #fleetTemplatesEdit table,
#fleet1 #sftcontainer #fleetTemplatesEdit table {
	margin: 0px auto; 
	width: 600px;
}

#station #fleetTemplatesEdit td,
#station-moon #fleetTemplatesEdit td,
#station #fleetTemplatesEdit th,
#station-moon #fleetTemplatesEdit th,
#fleet1 #sftcontainer #fleetTemplatesEdit td{
	color:#848484;
	line-height:16px;
	overflow: visible;
}

#station-moon #fleetTemplatesEdit tr {}

#station #fleetTemplatesEdit td:hover,
#station-moon #fleetTemplatesEdit td:hover,
#fleet1 #sftcontainer #fleetTemplatesEdit td:hover {
/*	color:#FFEBD2;*/
}

#station #jumpgate #jumpgateNotReady,
#station-moon #jumpgate #jumpgateNotReady {
	padding:30px 0px;
	background-color:#2d232c;
	margin:40px auto 0px auto;
	width:450px;
}

#station #jumpgate #jumpgateNotReady p,
#station-moon #jumpgate #jumpgateNotReady p{
	text-align:center;
	font-size:18px;
	color:#ff0000;
}

#station #jumpgate #jumpgateNotReady p.countdown,
#station-moon #jumpgate #jumpgateNotReady p.countdown{
	font-weight:700;
	margin-top:10px;
	color:#FF3300;
}

#station div#description p,
#station-moon div#description p { 
	float:left;
	width:620px;
}

#station div#description p.isStorage,
#station-moon div#description p.isStorage { 
    color:#848484;
    float:left;
    width:490px;
    height:48px;
}

#station #detail44 #description p,
#station-moon #detail44 #description p {width:450px;}

#station #detail44 #description .display,
#station-moon #detail44 #description .display {
	float:right;
	width:130px;
	color:#848484;
	margin-top:10px;
	font-size:11px;
	cursor:pointer;
	display:inline; /*IE6 fix */
}

#station #detail44 #description .display:hover,
#station-moon #detail44 #description .display:hover {	cursor:pointer;}

#station #supplydepotlayer,
#station-moon #supplydepotlayer,
#station #rocketsilo {
	position:absolute; 
	top:0px; 
	left:0px; 
	width:669px; 
	height:300px; 
	opacity:1; 
	background: transparent url(http://gf1.geo.gfsrv.net/cdn55/d6e4606150a2705c24a913ee993610.gif) no-repeat;
	color:#848484;
	z-index:12;
	font-size:11px;
}

#station #rocketsilo,
#station-moon #rocketsilo { z-index:15; margin-top:-1px;}

#overview #abandonplanet h3,
#station #supplydepotlayer h3,
#station-moon #supplydepotlayer h3,
#station #rocketsilo h3 {
	float: left; 
	width: 630px; 
	padding: 6px 0 0 0; 
	font-weight: 700;
	line-height:20px;
	color: #6f9fc8; 
	font-size: 12px; 
	text-align: center;
}
#overview #abandonplanet #inner,
#station #supplydepotlayer #inner,
#station-moon #supplydepotlayer #inner,
#station #rocketsilo #inner {
	margin-top:10px;
	padding-left:16px;
}
#overview #abandonplanet #inner img,
#station #supplydepotlayer #inner img,
#station-moon #supplydepotlayer #inner img,
#station #rocketsilo #inner img {
	float:left;
}
#overview #abandonplanet #inner div,
#station #supplydepotlayer #inner div,
#station-moon #supplydepotlayer #inner div,
#station #rocketsilo #inner div {
	float:left;
	margin-left:12px;
	margin-top:0;
	width:425px;
}

#overview #abandonplanet #inner span.capacity,
#station #supplydepotlayer #inner span.capacity,
#station-moon #supplydepotlayer #inner span.capacity,
#station #rocketsilo #inner span.capacity  {
	font-weight:700; 
	display:block; 
	margin-top:10px;
}

#station #supplydepotlayer #inner input.start,
#station-moon #supplydepotlayer #inner input.start,
#station #rocketsilo #inner input.start {
	padding:3px 6px; 
	margin:10px 0px 0px 0px; 
	cursor:pointer; 
	background-color:#0d1014; 
	color:#848484; 
	border:1px solid #434353;
}
#overview #abandonplanet #inner input.start:hover,
#station #supplydepotlayer #inner input.start:hover,
#station-moon #supplydepotlayer #inner input.start:hover,
#station #rocketsilo #inner input.start:hover { 
	background-color:#13181d; 
	color:#c1c1c1; 
}

#station #supplydepotlayer a.close,
#station-moon #supplydepotlayer a.close,
#station #rocketsilo a.close {
	margin: 10px 13px 0pt;
	display:inline;
	float:right;
}

#station #planet #slots,
#station-moon #box #planet #slots {
	position:absolute;
	right:3px;
	bottom: 30px;
	margin:0px;
}

#station #box #planet #slots2,
#station-moon #box #planet #slots2 {
	height:25px;
	width:231px;
	background:url(http://gf1.geo.gfsrv.net/cdnb7/831acdebe152e2f66a7c95191ddb91.gif) no-repeat;
	font-size:11px;
	position:absolute;
	bottom:3px;
	right:3px;
	text-align:center;
	padding:4px 0px 0px;
}

#station #rocketsilo #inner table {
	width:100%;
	margin:10px auto;
	border-collapse:collapse;
}

#station #rocketsilo #inner table th {
	border-bottom: 1px dotted #848484;
}

#station #rocketsilo #inner table th,
#station #rocketsilo #inner table td {	padding:3px 5px;}
#station #rocketsilo #inner table td input.txt { 
	text-align:center; 
	font-weight:700;
	border:1px solid #000000;
}

#station #rocketsilo #inner table td input.txt {
	background: #274650;
	border:1px solid #141A1E;
	color:#848484;
	font-size:12pt;
	height:20px;
	text-align:center;
	width:44px;
}

.textCenter { text-align: center;}

table.displaytable td {padding: 2px 5px; text-align:right; white-space:nowrap;}

#description #capbg {
	width:128px;
	height:20px;
	background:url(http://gf1.geo.gfsrv.net/cdn25/0de689605492a8a591d0d4f0d4e925.jpg) no-repeat;
	position:relative;
}

#description #capbg div {
	background:url(http://gf1.geo.gfsrv.net/cdnc1/52e68e94eb3c0ad2e5db0cde5794bf.gif) no-repeat top left;
	width:112px;
	height:6px;
	position:absolute;
	top:7px;
	left:8px;
}

#description .breakrocket {
	cursor:pointer;
	float:left;
	height:25px;
	left:416px;
	position:relative;
	top:8px;
	width:231px;
}

#description .breakrocket a {
	background:transparent url(http://gf1.geo.gfsrv.net/cdn28/d792c1d219ecc13f8764f9a988a655.gif) no-repeat;
	color:#9c0;
	display:block;
	line-height:25px;
	text-decoration:none;
}

#description .breakrocket a:hover {
	background-position:0 -25px;
	color:#bcd;
	text-decoration:none;
}

#description .breakrocket .breakrocket_img {
	background:url(http://gf1.geo.gfsrv.net/cdn2e/0a6415317160702e17f9babf146be0.gif) no-repeat;
	float:left;
	height:17px;
	margin:5px;
	padding:0 40px 0 0;
	width:17px;
}

#detail #description .display {
	cursor:auto;
}

#remainingresources {
	float:right;
	margin:0 5px 0 0;
	min-width:125px;
	text-align:center;
}

#TB_window #jumpgate a.button188 {
	color:#fff;
	display:block;
	margin:0px auto;
	text-decoration:none;
}

table#supportWrap { 
	border-collapse:collapse;
	margin:15px 0px;
	width:410px;
}
table#supportWrap th {	
	border-bottom: 1px solid #848484;
	font-weight: 700;
}
#supplydepotlayer #inner table#supportWrap img { 
	border:0px none;
	float:none;
}

table#supportWrap .textInput{
	background:#23333F;
	color:#848484;
	text-align:center;
}

table#supportWrap td,
table#supportWrap th {
	padding:3px 0px;
    width:110px;
}

table#supportWrap span.countdown {
    display:none;
}

#TB_window #jumpgate a {	color: #848484;	}
#TB_window #jumpgate .oneLine21 a:hover {color: #FFFBFC;}

.input-hover {
	background: url(http://gf1.geo.gfsrv.net/cdnbb/d3c334658d70f3bb67d7f1c01268f2.gif) repeat-x;
	border: 1px solid #00ebc1;
	color: #55788f; 
}

#station div.detail_screen div.pic,
#station-moon div.detail_screen div.pic{
    float:left;
    height:200px;
    margin-left:2px; 
    position: relative;
    width:200px;
    background: url(http://gf1.geo.gfsrv.net/cdn00/e8f840b1666cade0a90022b6459833.jpg) no-repeat;
}

#station div.detail_screen div#station_14_Xlarge,
#station-moon div.detail_screen div#station_14_Xlarge{
    background-position: 0px 0px;
}
#station div.detail_screen div#station_15_Xlarge{
    background-position: -1000px 0px;
}
#station div.detail_screen div#station_21_Xlarge,
#station-moon div.detail_screen div#station_21_Xlarge{
    background-position: -200px 0px;
}
#station div.detail_screen div#station_31_Xlarge{
    background-position: -400px 0px;
}
#station div.detail_screen div#station_33_Xlarge{
    background-position: -1200px 0px;
}
#station div.detail_screen div#station_34_Xlarge{
    background-position: -600px 0px;
}
#station div.detail_screen div#station_44_Xlarge{
    background-position: -800px 0px;
}
#station-moon div.detail_screen div#station_41_Xlarge{
    background-position: -1400px 0px;
}
#station-moon div.detail_screen div#station_42_Xlarge{
    background-position: -1600px 0px;
}
#station-moon div.detail_screen div#station_43_Xlarge{
    background-position: -1800px 0px;
}