/*
############################
#### 	Form-Validation
############################
*/

.formError {
	position:absolute;
	top:300px;
	left:300px;
	padding:0 13px 0 15px;
	display:block;
	text-align:left;
	z-index:5000;
}
#debugMode {
	background:#000;
	position:fixed;
	width:100%;
	height:200px;
	top:0;
	left:0;
	overflow:scroll;
	opacity:0.8;
	display:block;
	padding:10px;
	color:#fff;
	font-size:14px;
	z-index:100000;
}
.ajaxSubmit {
	padding:20px;
	background:#55ea55;
	border:1px solid #999;
	display:none
}
.formError .formErrorContent {
	color:red;
	width:250px;
	font-family:tahoma;
	font-size:11px;
	font-weight:bold;
	background:#0b3f4f url(http://gf1.geo.gfsrv.net/cdn81/55622d4c1d05da88df11a06110eb13.png) repeat-x;
	border:1px solid #00c1fc;
	box-shadow: 2px 2px 10px #000;
	-moz-box-shadow: 2px 2px 10px #000;
	-webkit-box-shadow: 2px 2px 10px #000;
}
.formError .icon {
	background:url(http://gf1.geo.gfsrv.net/cdn39/8bc74fbd158a617a783d2147cbd0f8.gif) no-repeat scroll 5px 2px;
	padding:4px 10px 6px 35px;
}
.greenPopup .formErrorContent {
	width:230px;
}
.blackPopup .formErrorContent {
	background:#393939;
	color:#02ACE0;
}
.formError .formErrorArrow {
	background:url(http://gf1.geo.gfsrv.net/cdn7c/5fc5c01277c9a15e23f15cdbc1beb1.gif) no-repeat;
	height:15px;
	left:1px;
	position:absolute;
	top:5px;
	width:15px;
	z-index:5001;
}
.formError .formErrorArrowBottom {
	top:0;
	margin:-6px;
}
.formError .formErrorArrow div {
	font-size:0px;
	height:1px;
	background:#ee0101 ;
	margin:0 auto;
	line-height:0px;
	font-size:0px;
	display:block;
}
.formError .formErrorArrowBottom div {
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.blackPopup .formErrorArrow div {
	background:#393939;
	color:#FFF;
}

.agbformError {margin-left:170px;}

#subscribeForm #submitWrap .green {color:#00CC00;}
#securePwd {
	margin-left:12px;
	overflow:hidden;
	position:relative;
	width:200px;
}
.invalid-char {height:15px;}
#validChar {
	color:#AF1B03;
	font-weight:bold;
}
.valid-icon {
	background:transparent url(/cdn/img/valid-icon.gif) no-repeat;
	display:block;
	float:left;
	height:16px;
	margin:0 4px 0 0;
	width:16px;
}

.invalid {background-position:0 -16px;}

#securePwd .securePwdBarBox {
	float:left;
	margin:5px 0 0 0;
	width:180px;
}
#securePwd .securePwdBarBox, #securePwd #securePwdBar { /* has IE-fix */
	background:transparent url(/cdn/img/secure-pwd-bar.gif) no-repeat 0 -13px;
	height:13px;
	font-size:1px;
}
#securePwd #securePwdBar {background-position:0 0;}
#securePwd #securePwdBar {float:left;}
#pwdWarning {
	float:right;
	display:none;
	margin-top: 32px;
	padding: 0;
	position: relative;
	width:180px;
}
#pwdWarning label {font-weight:700}

#securePwd p {
	margin:5px 0;
	color:#619FC8;
	font-size:11px;
	width:190px;
}

* html #securePwd p {width:170px;}

body .passwordLoginformError,
body .usernameLoginformError {
	margin-left:-465px;
}
body .passwordLoginformError .formErrorArrow,
body .usernameLoginformError .formErrorArrow {
	background:url(http://gf1.geo.gfsrv.net/cdn7c/5fc5c01277c9a15e23f15cdbc1beb1.gif) no-repeat;
	left:266px;
}

.nodisplay {
	display: none;
}